.searchbar {
  border: 1px solid #aaa;
  border-radius: 8px;
  /* max-width: 400px; */
  /* margin: 0 auto; */
}

.searchbar .searchInput {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.searchbar .searchInput input {
  width: 100%;
  /* height: 40px; */
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 16px;
}
