* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

/* POKEMON TYPE COLORS  */
.type-normal {
  --color: #c2c2a1;
}

.type-flying {
  --color: #bab0d5;
}

.type-ghost {
  --color: #735797;
}

.type-dark {
  --color: #333;
}

.type-steel {
  --color: #ccccde;
}

.type-ground {
  --color: #b1736c;
}

.type-poison {
  --color: #7c538c;
}

.type-grass {
  --color: #48d0b0;
}

.type-fire {
  --color: #fb6c6c;
}

.type-electric {
  --color: #ffd86f;
}

.type-fairy {
  --color: #f469a9;
}

.type-bug {
  --color: #c3ce75;
}

.type-fighting {
  --color: #d6b591;
}

.type-water {
  --color: #609fb5;
}

.type-psychic {
  --color: #9b7fa6;
}

.type-ice {
  --color: #7fccec;
}

.type-rock {
  --color: #a6aab6;
}

.type-dragon {
  --color: #f9be00;
}
